body {
    margin: 0%;
    padding: 0%;
    border: 0;
    background-color: salmon;
    

}

h2 {
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.herotitle {
    text-align: center;
    font-weight: 900;
    font-size: 50px  ; 
    color: rgb(0, 0, 0);       
    }

.titleh3 {
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

img {
    border-radius: 50%;
     
}
  
    p {
    font-size: 20px;
    font-weight: 600;   
    font-style: italic;
    
}    
    
.pictures {
    width: 30%;
    margin: 15px;
    display: inline-block;  
    vertical-align: top;
    line-height: 35px;  
    text-align: center;
   
    
}   

.ajuste {
    width: 30%;
   display: inline-block;
   vertical-align: top;
   margin: 15px;
   line-height: 35px;
   text-align: center;
      
}

.ajustpictures {
    width: 30%;
    margin: 15px;
    display: inline-block; 
    vertical-align: top;
    line-height: 35px;
    text-align: center;
}

.ajustandofotos {
    width: 30%;
    margin: 15px;
    display: inline-block;
    vertical-align: top;
    line-height: 35px;      
    text-align: center;
}   

.fundo {
    background-image: url(https://user-image.cnft.io/projects/62796abc16aeacf0ba5db9a3_1653941031175);
    padding: 5%;
    
}

.ajustelink {
    display: flex;
    flex-direction: column;
    text-align: center;     
    background-color: rgb(182, 99, 92);
    padding: 5px;
    margin-top: 5px;
    
}

.ajustelink a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    
}

.border {
    border-radius: 50%; 
    text-align: center;
    
   
}

a:hover {
    background-color: brown;
    
}

#test {

}

.style {
    color: black;
    font-size: 25px;
    font-weight: 900;
    
}